.contact-bg {
    width: 100vw;
    // height: 24.266667vw;
    background-color: $contact-blue;
    padding-top: 1.9rem;
    padding-bottom: 2rem;
    box-sizing: border-box;

    .contact-content {
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
        gap: 1.2rem;
        box-sizing: border-box;
    }

    h3 {
        margin: 0;
        color: $white;
        font-size: 1.6rem;
        text-align: center;;
    }

    a {
        display: flex;
        width: 134px;
        height: 41px;
        border-radius: 1000px;
        background-color: $reserve-green;
        overflow: hidden;
        position: relative;
        justify-content: center;
        align-items: center;
        box-shadow: 0 10px 10px rgba($black, 0.16);

        font-size: 1.5rem;
        font-weight: $font-black;
        color: rgba($text-black, 0.8);

    }

    .hoverflash::before {
        content: '';
        display: block;
        width: 5rem;
        height: 300%;
        position: absolute;
        top: 50%;
        background-color: $white;
        transform: translate(-500%, -50%) rotate(-45deg);
        transition: transform 0.5s ease;
    }

    .hoverflash:hover::before {
        transform: translate(500%, -50%) rotate(-45deg);
    }
}