.point{
    background-color: $contact-blue;;
    padding-top:2.5rem;
    padding-bottom:4.8rem;
    h2{
        margin:0;
        padding:.9rem;
        background-color: $white;
        color:$contact-blue;
        font-size: 1.8rem;
        font-weight: $font-black;
        font-family: "Noto Sans JP";
        line-height: 1.222;
        text-align: center;
        border-radius: 5px;
    }
    ul{
        margin:0;
        padding:0;
        list-style-type: none;
        text-align: center;
        color:$white;
        span{
            margin:0;
            margin-top:3.8rem;
            width:8.1rem;
            border-bottom: solid 1px $white;
            font-family: "Poppins";
            font-size: 4rem;
            font-weight: bold;
            letter-spacing: .1em;
            line-height: 1;
            text-align: center;
            display:inline-block;
        }
        span:nth-child(1){
            margin-top:3.5rem;
        }
        h3{
            margin:0;
            margin-top:2.8rem;
            font-size: 1.5rem;
            line-height: 1.4;
            font-weight: $font-black;
        }
        p{
            margin:0;
            margin-top:1.7rem;
            padding:0 .7rem;
            text-align: left;
            font-size: 1.4rem;
            font-weight: $font-midium;
            line-height: 1.143;
            font-family: "Noto Sans JP";
        }
    }
}

.本当に歯を白くするためには歯の汚れを落とすだけでは不十分で、漂白をする必要があります。但し歯の {
    font-size: 14px;
    color: rgb(255, 255, 255);
    -moz-transform: matrix( 1.01049443372293,0,0,1,0,0);
    -webkit-transform: matrix( 1.01049443372293,0,0,1,0,0);
    -ms-transform: matrix( 1.01049443372293,0,0,1,0,0);
    position: absolute;
    left: 2011.436px;
    top: 1192.185px;
    width: 321.839px;
    height: 93.009px;
    z-index: 334;
  }
  
  
  

  


  