.question {
    padding-top: 2.5rem;

    h2 {
        margin: 0;
        padding: .8rem 0;
        background-color: $catch-pink;
        border-radius: 5px;
        color: $white;
        font-size: 1.8rem;
        font-family: "Noto Sans JP";
        line-height: 1.222;
        text-align: center;
    }

    ul {
        margin: 0 1.1rem;
        margin-top: 1.5rem;
        padding: 0;
        padding-bottom: 4.8rem;
        list-style: none;
        
        li {
            // text-align: -webkit-match-parent;
            background-color: $white;
            margin-top:2.5rem;
        }
        li:nth-child(1){
            margin-top:0;
        }

        figure {
            margin:0;
            padding-top: 1rem;
            text-align: center;
        }

        dt::before {
            content: "Q";
            margin-right: 1.4rem;
            margin-left: 1.7rem;
            font-family: "Poppins";
            font-weight: 800;
            font-size:1.8rem;
        }
        
        dt {
            display: flex;
            align-items: center;
            font-size: 1.5rem;
            font-weight: $font-black;
        }
        
        dd::before {
            content: "A";
            margin-right: 1.4rem;
            margin-left: 1.7rem;
            display: flex;
            align-items: center;
            font-family: "Poppins";
            font-weight: 800;
            font-size:1.8rem;
        }

        dd {
            margin:0;
            margin-top:1.8rem;
            padding-bottom: 1.4rem;
            display: flex;
            padding-right: 1.7rem;
            color:$catch-pink;
            line-height: calc(16 / 14);
        }
    }
}


.qa_midashi_bg {
    background-color: rgb(249, 64, 188);
    position: absolute;
    left: 2003px;
    top: 1705px;
    width: 348px;
    height: 56px;
    z-index: 310;
}