@charset "UTF-8";
/* 文字コードの指定 */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@500;900&family=Poppins:wght@800&display=swap");
html {
  font-size: 62.5%;
}
@media (max-width: 767px) {
  html {
    font-size: 2.6666666667vw;
  }
}

body {
  font-family: "Noto Sans JP", "Poppins";
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.75;
  color: #454545;
  background-color: #fff;
  width: 100vw;
}
@media (min-width: 768px) {
  body {
    position: relative;
  }
}

a {
  color: #454545;
  text-decoration: none;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

.container {
  padding: 0 1.4rem;
  position: relative;
}

.stripe-bg {
  background-image: repeating-linear-gradient(45deg, #f5f5f5 0px, #f5f5f5 7px, #fff 7px, #fff 14px);
}

.cover {
  width: 100vw;
  height: 111.2vw;
  background-image: url("../images/main_sp.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.catch-width {
  display: flex;
  justify-content: flex-end;
}

.catch {
  font-size: 1.9rem;
  line-height: 1.5789473684;
  align-items: center;
  padding-top: 21.8225419664%;
}
.catch span {
  background: linear-gradient(transparent calc(100% - 10px), #f940bc calc(100% - 10px));
  text-shadow: 0.3rem 0 0 #fff;
  font-weight: 900;
}
.catch img {
  margin: 3.6rem 1.2rem;
}

.contact-bg {
  width: 100vw;
  background-color: #3fbcfa;
  padding-top: 1.9rem;
  padding-bottom: 2rem;
  box-sizing: border-box;
}
.contact-bg .contact-content {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  gap: 1.2rem;
  box-sizing: border-box;
}
.contact-bg h3 {
  margin: 0;
  color: #fff;
  font-size: 1.6rem;
  text-align: center;
}
.contact-bg a {
  display: flex;
  width: 134px;
  height: 41px;
  border-radius: 1000px;
  background-color: #bdfa3e;
  overflow: hidden;
  position: relative;
  justify-content: center;
  align-items: center;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.16);
  font-size: 1.5rem;
  font-weight: 900;
  color: rgba(69, 69, 69, 0.8);
}
.contact-bg .hoverflash::before {
  content: "";
  display: block;
  width: 5rem;
  height: 300%;
  position: absolute;
  top: 50%;
  background-color: #fff;
  transform: translate(-500%, -50%) rotate(-45deg);
  transition: transform 0.5s ease;
}
.contact-bg .hoverflash:hover::before {
  transform: translate(500%, -50%) rotate(-45deg);
}

.pic-interest {
  position: absolute;
  top: 0;
  right: 0;
}

.interest {
  padding-top: 6.6rem;
  padding-bottom: 4.8rem;
}
.interest h3 {
  margin: 0;
  padding-left: 7.7333333333%;
  font-size: 1.4rem;
  display: flex;
  color: #454545;
  font-weight: 900;
}
.interest p {
  background: linear-gradient(transparent calc(100% - 10px), #f940bc calc(100% - 10px));
  text-shadow: 0.3rem 0 0 #fff;
  font-weight: 900;
  margin: 0;
  margin-top: 4.5rem;
}

.interest-list {
  list-style-type: none;
  z-index: 100;
  margin: 6.2rem auto 0;
  padding: 0;
  padding-left: 7.7333333333%;
  position: relative;
}
.interest-list li {
  box-sizing: border-box;
  width: 28.9rem;
  height: 4.8rem;
  border-radius: 1000px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  font-size: 1.4rem;
  border: solid 2px #707070;
  margin: 1.5rem 0;
  color: #454545;
  font-weight: 900;
}
.interest-list li:nth-child(1) {
  margin-top: 0;
}
.interest-list li:nth-child(3) {
  margin-bottom: 0;
}

.point {
  background-color: #3fbcfa;
  padding-top: 2.5rem;
  padding-bottom: 4.8rem;
}
.point h2 {
  margin: 0;
  padding: 0.9rem;
  background-color: #fff;
  color: #3fbcfa;
  font-size: 1.8rem;
  font-weight: 900;
  font-family: "Noto Sans JP";
  line-height: 1.222;
  text-align: center;
  border-radius: 5px;
}
.point ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-align: center;
  color: #fff;
}
.point ul span {
  margin: 0;
  margin-top: 3.8rem;
  width: 8.1rem;
  border-bottom: solid 1px #fff;
  font-family: "Poppins";
  font-size: 4rem;
  font-weight: bold;
  letter-spacing: 0.1em;
  line-height: 1;
  text-align: center;
  display: inline-block;
}
.point ul span:nth-child(1) {
  margin-top: 3.5rem;
}
.point ul h3 {
  margin: 0;
  margin-top: 2.8rem;
  font-size: 1.5rem;
  line-height: 1.4;
  font-weight: 900;
}
.point ul p {
  margin: 0;
  margin-top: 1.7rem;
  padding: 0 0.7rem;
  text-align: left;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.143;
  font-family: "Noto Sans JP";
}

.本当に歯を白くするためには歯の汚れを落とすだけでは不十分で、漂白をする必要があります。但し歯の {
  font-size: 14px;
  color: rgb(255, 255, 255);
  -moz-transform: matrix(1.0104944337, 0, 0, 1, 0, 0);
  -webkit-transform: matrix(1.0104944337, 0, 0, 1, 0, 0);
  -ms-transform: matrix(1.0104944337, 0, 0, 1, 0, 0);
  position: absolute;
  left: 2011.436px;
  top: 1192.185px;
  width: 321.839px;
  height: 93.009px;
  z-index: 334;
}

.question {
  padding-top: 2.5rem;
}
.question h2 {
  margin: 0;
  padding: 0.8rem 0;
  background-color: #f940bc;
  border-radius: 5px;
  color: #fff;
  font-size: 1.8rem;
  font-family: "Noto Sans JP";
  line-height: 1.222;
  text-align: center;
}
.question ul {
  margin: 0 1.1rem;
  margin-top: 1.5rem;
  padding: 0;
  padding-bottom: 4.8rem;
  list-style: none;
}
.question ul li {
  background-color: #fff;
  margin-top: 2.5rem;
}
.question ul li:nth-child(1) {
  margin-top: 0;
}
.question ul figure {
  margin: 0;
  padding-top: 1rem;
  text-align: center;
}
.question ul dt::before {
  content: "Q";
  margin-right: 1.4rem;
  margin-left: 1.7rem;
  font-family: "Poppins";
  font-weight: 800;
  font-size: 1.8rem;
}
.question ul dt {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  font-weight: 900;
}
.question ul dd::before {
  content: "A";
  margin-right: 1.4rem;
  margin-left: 1.7rem;
  display: flex;
  align-items: center;
  font-family: "Poppins";
  font-weight: 800;
  font-size: 1.8rem;
}
.question ul dd {
  margin: 0;
  margin-top: 1.8rem;
  padding-bottom: 1.4rem;
  display: flex;
  padding-right: 1.7rem;
  color: #f940bc;
  line-height: 1.1428571429;
}

.qa_midashi_bg {
  background-color: rgb(249, 64, 188);
  position: absolute;
  left: 2003px;
  top: 1705px;
  width: 348px;
  height: 56px;
  z-index: 310;
}

.dot-bg {
  background-image: radial-gradient(#f5f5f5 20%, transparent 20%), radial-gradient(#f5f5f5 20%, transparent 20%);
  background-size: 15px 15px;
  background-position: 0 0, 7.5px 7.5px;
  background-repeat: repeat;
}

.reason {
  padding-top: 2.5rem;
  padding-bottom: 4.8rem;
}
.reason h2 {
  margin: 0;
  background-color: #f940bc;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  line-height: 1.2222222222;
  font-size: 1.8rem;
  font-weight: 900;
  padding: 0.8rem 0;
}
.reason h3 {
  border-bottom: solid 1px #f940bc;
  width: fit-content;
  margin: 0 auto;
  padding-bottom: 1.1rem;
  font-size: 1.6rem;
}
.reason p {
  line-height: 1.1428571429;
  font-size: 1.4rem;
  font-weight: 400;
}
.reason span {
  font-weight: bold;
}
.reason ul {
  list-style: none;
  padding: 0;
}
.reason ul figure {
  margin: 0 auto;
  width: fit-content;
}
.reason ul figure img {
  padding: 0 auto;
}
.reason ul li p {
  margin: 1.1rem 0;
  padding: 0 2.5rem;
}
.reason ul li p:nth-child(2) {
  margin-top: 1.8rem;
}
.reason ul li:nth-child(n+2) {
  margin-top: 2.5rem;
}
.reason .reason-content {
  margin: 1.5rem 0.5rem;
  padding-top: 3rem;
  padding-bottom: 1.4rem;
  border: solid 1px #707070;
  border-radius: 5px;
  background-color: #fff;
}

.faq {
  padding-top: 2.5rem;
}
.faq h2 {
  margin: 0 auto;
  padding: 1.4rem 2.7rem;
  font-size: 1.8rem;
  background-color: #3fbcfa;
  color: #fff;
  display: flex;
  align-items: center;
  text-align: center;
  width: fit-content;
  border-radius: 5px;
}

.accordion-width {
  padding-bottom: 4.8rem;
}

.accordion {
  cursor: pointer;
  margin: 0 0.9rem;
  padding: 0;
  line-height: 1.1428571429;
  font-size: 1.4rem;
}
.accordion dl {
  background-color: #fff;
  margin-bottom: 2rem;
}
.accordion dt {
  position: relative;
  padding: 0.8rem 3.1rem 0.6rem 3.1rem;
  border-bottom: solid 1px #707070;
}
.accordion dt::before {
  content: "Q : ";
  display: inline-block;
  font-family: "Poppins";
  font-weight: 400;
  text-indent: -2.5rem;
}
.accordion dt::after {
  content: "+";
  position: absolute;
  top: 10%;
  right: 2.5%;
  display: inline-block;
  box-sizing: inherit;
  font-weight: 900;
  font-size: 2.2rem;
  font-family: "Noto Sans JP";
}
.accordion dt.open::after {
  content: "ー";
  font-size: 1.4rem;
  top: 30%;
}
.accordion dt:hover {
  opacity: 0.5;
}

.accordion-content {
  display: none;
  padding: 0.8rem 3.1rem 0.6rem 3.1rem;
  position: relative;
  margin: 0;
  box-sizing: border-box;
}

.accordion-content::before {
  content: "A : ";
  font-family: "Poppins";
  font-weight: 400;
  display: inline-block;
  position: absolute;
  text-indent: -2.5rem;
}

.footer {
  margin: 5.1rem auto;
  text-align: center;
}
.footer p {
  font-size: 1.2rem;
  color: #454545;
  margin-bottom: 0;
  font-weight: 400;
}

/*# sourceMappingURL=style.css.map */
